/* 6. Write CSS rules that cause the header and .collage div to be centered on the page */
header{
text-align: center;
}

/* 7. Write CSS rules that ensure that no more than 4 photos appear on a row */
.collage{
max-width: 100%;
display:grid;
grid-template-columns: repeat(4,1fr);
row-gap: 20px;
column-gap: 20px;
place-items: center;
position: absolute;
right: 25%;
left: 25%
}
